<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323397325713-qldrpvmahtq6her8lod57riqut0orefi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323397325713-qldrpvmahtq6her8lod57riqut0orefi</string>
	<key>API_KEY</key>
	<string>AIzaSyD789cY-VzeS_3VrZF0LgyinKfJNPxTzFA</string>
	<key>GCM_SENDER_ID</key>
	<string>323397325713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vb10.mycodingsetup.mycodingsetup</string>
	<key>PROJECT_ID</key>
	<string>coding-setup</string>
	<key>STORAGE_BUCKET</key>
	<string>coding-setup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323397325713:ios:5df39c94c79f02440b8030</string>
</dict>
</plist>